.rdw-embedded-modal {
  height: auto;
}
.rdw-editor-main {
  height: 90%;
}

body,
html {
  background-color: wheat;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* .DraftEditor-root {
  /* overflow: hidden; */

/* .rdw-editor-wrapper {
  height: 90vh;
} */

#root {
  height: 100%;
}